<h2>{{name}}</h2>
<a id="{{getHash}}">{{getHash}}</a> </br>
Datatype:</br>
{{datatype.get_name}} (Unit: {{datatype.unit}} Basetype: {{datatype.basetype}} Factor: {{datatype.conversion.factor}} Offset: {{datatype.conversion.offset}})</br>
Min: {{min}} Max: {{max}}</br>
