<h2><a id="{{getHash}}">{{name}}</a></h2>
{{getHash}}</br>
Datatype:</br>
{{datatype.get_name}} (Unit: {{datatype.unit}} Basetype: {{datatype.basetype}} Factor: {{datatype.conversion.factor}} Offset: {{datatype.conversion.offset}})</br>
Min: {{min}} Max: {{max}}</br>
