<h2><a id="{{getHash}}">{{name}}</a></h2>
{{getHash}} </br>
Components:</br>
{{#components}}
{{name}}: <a href="#{{getHash}}">{{getHash}}</a>
</br>
{{/components}}
{{^components}}
None</br>
{{/components}}

