<h2>{{tag}}</h2>
{{commit.user}} {{commit.timestamp}} </br>
Message: {{commit.message}} </br>
{{commit.obj.classkey}} - {{commit.obj.name}}: <a href="#{{commit.obj.getHash}}">{{commit.obj.getHash}}</a></br>
