 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Projects</h1>
{{#project}}
{{hash}} - {{name}} </br>
{{/project}}

<h1>Components</h1>
{{#component}}
{{hash}} - {{name}} </br>
{{/component}}

<h1>Variables</h1>
{{#variable}}
{{hash}} - {{name}} </br>
{{/variable}}

</body>
</html> 
