 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
{{#types}}
<h1>{{type}}</h1>
{{#objects}}
<a id="{{hash}}">{{hash}}</a> - {{name}} {{#wc}}WC{{/wc}} </br>
{{#children}}
<a href="#{{hash}}">{{hash}} - {{objtype}} {{name}}</a>
</br>
{{/children}}
<pre>{{data}}</pre>
</br>
{{/objects}}
{{/types}}
</body>
</html> 
